@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Geist', sans-serif;
}

.monospaced {
  font-family: 'Geist Mono', monospace;
  font-family: "DM Mono", monospace;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes spin-bounce {
  0% {
    transform: rotateY(0deg) translateY(0);
  }

  25% {
    transform: rotateY(90deg) translateY(-15px);
  }

  50% {
    transform: rotateY(180deg) translateY(0);
  }

  75% {
    transform: rotateY(270deg) translateY(15px);
  }

  100% {
    transform: rotateY(360deg) translateY(0);
  }
}

.img-container:hover img {
  animation: spin-bounce 2s infinite linear;
}

.spin-bounce {
  animation: spin-bounce 2s infinite linear;
}


.drop-shadow-div {
  filter:
    drop-shadow(0 0 1.5rem #069F9F) drop-shadow(0 0 4.5rem #069F9F),
}